.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $darkBackgroundColor;
  background-image: linear-gradient($heroOverlay, $heroOverlay),
    url(../images/mobile-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient($heroOverlay, $heroOverlay),
      url("../images/mobile-header@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient($heroOverlay, $heroOverlay),
      url("../images/tablet-header.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($heroOverlay, $heroOverlay),
        url("../images/tablet-header@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient($heroOverlay, $heroOverlay),
      url("../images/desktop-header.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient($heroOverlay, $heroOverlay),
        url("../images/desktop-header@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $whiteColor;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__btn {
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  @include border(transparent);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $whiteColor;
  background-color: $activeColor;
  box-shadow: $heroBoxShadow;
  border-radius: 4px;
  cursor: pointer;
}
