.contacts {
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: baseline;
  }
}

.contacts__item {
  &:not(:first-child) {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}

.contacts__link {
  @include flexCenterCenter;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $secondaryTextColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $activeColor;
  }
}

.contacts__icon--mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.contacts__icon--smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
