.header {
  display: flex;
  border-bottom: 1px solid $boxBorderColor;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
