.adress {
  font-family: $fontRoboto;
  font-style: normal;
  font-size: $size-14;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $whiteColor;
}

.adress__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link {
  color: $footerContactsColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $activeColor;
    text-decoration-color: $activeColor;
  }
}
