.footer__text {
  margin-bottom: 20px;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: $fontBold;
  font-size: $size-14;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $whiteColor;
}

.footer__socials-list {
  display: flex;
  // justify-content: flex-start;
  justify-content: center;
}

.footer__socials-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: $whiteColor;
  background-color: $footerSocialsBackground;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $activeColor;
  }
}

.footer__socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
