// COLORS
$mainTextColor: #212121;
$secondaryTextColor: #757575;
$whiteColor: #ffffff;
$activeColor: #2196f3;
$darkBackgroundColor: #2f303a;
$grayBackgroundColor: #f5f4fa;
$heroOverlay: rgba(47, 48, 58, 0.4);
$heroBoxShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$borderLine: #ececec;
$wedoBacgroundColor: rgba(47, 48, 58, 0.8);
$footerContactsColor: rgba(255, 255, 255, 0.6);
$boxBorderColor: #eeeeee;
$principlesIconBackground: #f5f4fa;
$teamSetShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$socialDefaultFill: #afb1b8;
$footerSocialsBackground: rgba(255, 255, 255, 0.1);
$modalBackgroundColor: rgba(0, 0, 0, 0.2);
$modalBoxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$blackColor: #000000;
$modalTextareaColor: rgba(117, 117, 117, 0.5);
$subscribeButtonBorder: rgba(255, 255, 255, 0.3);
$subscribeButtonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$modalButtonShadow: rgba(0, 0, 0, 0.1);
$textAreaBorderColor: rgba(33, 33, 33, 0.2);
$modalInputBorderColor: rgba(33, 33, 33, 0.2);
$portfolioOverlayBackgroundColor: rgba(33, 150, 243, 0.9);

// BORDER RADIUS
$borderRadius-2: 2px;
$borderRadius-4: 4px;

// FONTS STYLES
$fontRaleway: "Raleway", sans-serif;
$fontRoboto: "Roboto", sans-serif;

$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;

$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-26: 26px;
$size-36: 36px;
$size-44: 44px;
